<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TweetClone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body class="tweetclone-content d-flex flex-column h-100">

<%- include("navbar") -%>

<main role="main" class="flex-shrink-0">
  <div class="container">

    <% tweets.forEach(function(tweet) { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">@<%= tweet.author %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= tweet.date %></h6>
          <p class="card-text"><%= tweet.text %></p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    <% }) %>


  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>

</html>
